#footer {
    padding: 15px 0;
    & > .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 41px;
        
        ul {
            display: flex;
            align-items: center;
            
            li {
                a {
                    display: block;
                    padding: 10px 30px;
                    transition: .3s;
                    color: var(--preto);

                    &:hover {
                        transition: .3s;
                        background-color: var(--dourado);
                        color: white;
                    }
                }
            }
        }
    }

    .footer-copy {
        text-align: center;
    }
}
