#planos {
    background-color: var(--cinzaClaro);
    padding: 100px 1rem;

    .container {
        max-width: 1200px;
        margin: 0 auto;

        & > p {
            margin-top: 30px;
            font-size: 11px;
            text-align: center;
        }
        
        .planos-titulo {
            text-align: center;
            font-size: 2rem;
            margin-bottom: 3rem;
            color: var(--preto);
            
            strong {
                color: var(--azul);
                text-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
            }
        }
        
        .cards-planos {
            display: flex;
            height: 50%;
            gap: 32px;

            .card-plano.destaque {
                background-color: var(--azul);
                position: relative;
                color: white;
                
                .badge {
                    position: absolute;
                    right: 0;
                    top: 0;
                    border-radius: 0 25px 0 25px;

                    background-color: var(--dourado);
                    padding: 15px 30px;

                    font-weight: 700;
                    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
                    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
                }
                
                h3 {
                    color: white;
                }
                
                .preco {
                    text-align: center;
                    font-size: 64px;
                    color: white;
                }
            }
            
            .card-plano {
                padding: 20px;
                flex: 1 1 362px;
                background-color: var(--branco);
                border-radius: 30px;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
                height: 40% !important;
                
                h3 {
                    margin-bottom: 1rem;
                    font-size: 20px;
                    color: var(--preto);
                    height: 25px;
                }
                
                .preco {
                    height: 70px;
                    font-size: 32px;
                    color: var(--preto);
                    margin-bottom: 10px;
                }

                .descricao {
                    margin-bottom: 50px;
                }

                ul {
                    li {
                        padding: 10px 0;
                        transition: .3s;

                        &:hover {
                            transition: .3s;
                            scale: 1.05;
                        }
                    }
                }

                a {
                    margin-top: 40px;
                    border-radius: 40px;
                    color: white;
                    font-weight: 700;
                    max-width: 200px;
                    display: block;
                    padding: 15px 40px;
                    background-color: var(--dourado);
                    transition: .3s;
                    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
                    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);

                    &:hover {
                        transition: .3s;
                        scale: 1.1;
                    }
                }

                transition: .3s;
                &:hover {
                    transition: .3s;
                    scale: 1.05;
                }
            }
        }
    }
}
